<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.or
g/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>$title</title>
<link href="http://modfilms.net/static/css/index.css" type="text/css" rel="stylesheet" />
<script src="/static/javascript/MochiKit/MochiKit.js" />

<style type="text/css">
<!--
.rightmenu {
        font-family: "Comic Sans MS";
        font-size: 14px;
}
.rightmenutext {
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
        color: #000099;
}
a {
        text-decoration: none;
}
p {
        padding: 1px;
        margin: 3px;
	}
	-->
</style>
</head>

<body>
<div id="content">
<div id="header" CLASS="rounded">
	<p class="rightmenu"><img width="790" src="/trac/iaa/chrome/site/images/iaa_banner.jpg" alt=
	"iaa" border="0" /></p>	
</div>
<div id="dashboard">
<p><a href="http://modfilms.net">modfilms.net</a> 
| 
<span><a href="http://iaa.modfilms.net">iaa</a></span> 
| 
<span>user management</span>
                </p>
</div>
	<div id="body">
	<div ID="col_main" CLASS="v">	
<p class="rightmenutext"><a href="http://sheet.zoho.com/GuestView.do?vaCdMlq%2BuHBHxR7IcMZmcLFeqfs4e0z1ai1BVj7CzJUg2ikzccGWTQ%3D%3D">edit users on ZohoSheet</a>
</p>
<p class="rightmenutext"><a href="/update/group/main">update user database from ZohoSheet</a></p>

</div>
</div>
<div id="footer" class="small_text">
	<A HREF="" ID="savethispage"><IMG SRC="http://images.del.icio.us/static/img/delicious.small.gif" ALT="Save del.icio.us" HEIGHT="10" WIDTH="10" /></A>
	
	<SCRIPT>
//<![CDATA[

	// pass to delicious
	connect('savethispage', "onclick", function(){
		window.open('http://del.icio.us/post?v=4&noui&jump=close&url='+ encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=700,height=400'); 
		return false;
	});
//]]>
	</SCRIPT>	
	<A HREF="http://modfilms.net/about" NAME="footer">ABOUT MODFILMS.NET</A> | <A HREF="http://modfilms.net/contact">CONTACT US</A> | <A HREF="http://modfilms.net/press">PRESS</A> | <A HREF="http://modfilms.net/terms">TERMS OF USE</A> | <A HREF="http://modfilms.net/policies"> PRODUCTION AND PRIVACY POLICIES</A>
	
</div>
</div>
</body>
</html>
